<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.weight.mapping.WeightMapper">
	
    <insert id="insertWeight" parameterType="com.yan.weight.schema.Weight">
    	insert into weight 
    	(userId, weight, weightDay, insertTime, updateTime) 
    	values 
    	(#{userId}, #{weight}, #{weightDay}, #{insertTime}, #{updateTime})
    </insert>
    
    <select id="countWeight" parameterType="java.util.Map"  resultType="int">
    	select count(*) from weight
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="userId != null and userId != ''">
    			userId=#{userId}
    		</if>
    	</trim>
    </select>
    
    <select id="queryWeights" parameterType="java.util.Map"  resultType="com.yan.weight.schema.Weight">
    	select * from weight
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="userId != null and userId != ''">
    			userId=#{userId}
    		</if>
    	</trim>
    	order by weightDay 
    </select>
    
    <select id="queryWeightsAndPaging" parameterType="java.util.Map"  resultType="com.yan.weight.schema.Weight">
    	select * from weight
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="userId != null and userId != ''">
    			userId=#{userId}
    		</if>
    	</trim>
    	order by weightDay 
    	<!-- 这两个不能放在trim中，否则当其他条件为空的时候，会出现 where limit的情况 -->
   		<if test="offset != null and pageSize != null ">
   			limit #{offset},#{pageSize}
   		</if>
    </select>
    
    <select id="queryWeightById" parameterType="int" resultType="com.yan.weight.schema.Weight">
    	select * from weight where id = #{id}
    </select>
    
</mapper>